<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Pc SIW Masters - Aggiungi Notebook</title>
</head>

<body>

<!-- Header -->
<div th:insert="fragments/header.html :: header"> </div>

<!-- Content -->
<form th:action="@{/admin/pageNotebook}" method="POST" th:object="${notebook}" class="add-item-container">
    <div class="add-item-container">

        <h2>Aggiungi Notebook </h2>

        <!-- Global Error -->
        <div class="global-error-message" th:if="${#fields.hasGlobalErrors()}">
            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
        </div>

        <div class="add-item-infos">

            <!-- Name -->
            <p>Inserisci nome:</p>
            <input placeholder="Nome" th:field="${notebook.name}">
            <span class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

            <!-- Price -->
            <p>Inserisci prezzo:</p>
            <input placeholder="Prezzo" th:field="${notebook.price}">
            <span class="error-message" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>

            <!-- Vendor -->
            <p>Seleziona un produttore:</p>
            <select name="idVendor">
                <option value="0">Seleziona un produttore:</option>
                <option th:each="vendor : ${vendors}" th:value="${vendor.id}"
                        th:text="${vendor.name} "
                >
                        <!--th:selected="${chef.equals(chefSelected)}"-->
                </option>
            </select>

            <!-- Immagine
            <p>Seleziona un'immagine:</p>
            <input type="file" accept="image/*">-->

        </div>

        <!-- Bottone -->
        <button type="submit" class="item-button">Salva</button>
    </div>
</form>

<script src="/script/script.js"></script>
</body>

</html>