<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="">

<head>
    <meta charset="UTF-8" />
    <link href="/style.css" rel="stylesheet" />
    <title>Pc SIW Masters - Aggiungi Hardware</title>
</head>

<body>

<!-- Header -->
<div th:insert="fragments/header.html :: header"> </div>

<!-- Content -->
<form th:action="@{'/admin/updateHardware/'+ ${hardware.id}}" method="POST" th:object="${hardware}" class="add-item-container" enctype="multipart/form-data">
    <div class="add-item-container">

        <h2>Modifica hardware </h2>

        <!-- Global Error -->
        <div class="global-error-message" th:if="${#fields.hasGlobalErrors()}">
            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
        </div>

        <div class="add-item-infos">

            <!-- Category -->
            <div th:insert="fragments/addItem.html :: category('T(it.uniroma3.siw.model.category.HardwareCategory)')"> </div>

            <!-- Name -->
            <div th:insert="fragments/addItem.html :: name-input('hardware')"> </div>
            <span class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

            <!-- Price -->
            <div th:insert="fragments/addItem.html :: price-input('hardware')"> </div>

            <!-- Vendor -->
            <div th:insert="fragments/addItem.html :: vendor-select"> </div>


            <!--Immagine-->
            <div th:insert="fragments/addItem.html :: picture-picker"> </div>

        </div>

        <!-- Bottoni -->
        <div class="item-button-container">
            <a th:href="'/admin/deleteComputerBuild/'+ ${hardware.id}" class="link">
                <div class="item-button delete-button">Elimina Computer Build</div>
            </a>
            <button type="submit" class="item-button">Salva modifiche</button>
        </div>

    </div>
</form>

<script src="/script/script.js"></script>
</body>

</html>