<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="">

<head>
    <meta charset="UTF-8" />
    <link href="/style.css" rel="stylesheet" />
    <title>Pc SIW Masters - Modifica Notebook</title>
</head>

<body>

<!-- Header -->
<div th:insert="fragments/header.html :: header"> </div>

<!-- Content -->
<form th:action="@{'/admin/updateNotebook/'+ ${notebook.id}}" method="POST" th:object="${notebook}" class="add-item-container" enctype="multipart/form-data">
    <div class="add-item-container">

        <h2>Modifica Notebook </h2>

        <!-- Global Error -->
        <div class="global-error-message" th:if="${#fields.hasGlobalErrors()}">
            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
        </div>

        <div class="add-item-infos">

            <!-- Name -->
            <div th:insert="fragments/addItem.html :: name-input('notebook')"> </div>
            <span class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

            <!-- Price -->
            <div th:insert="fragments/addItem.html :: price-input('notebook')"> </div>

            <!-- Vendor -->
            <div th:insert="fragments/addItem.html :: vendor-select"> </div>


            <!--Immagine-->
            <p>Seleziona un'immagine:</p>
            <input type="file" accept="image/*" id="customFile" name="file">

        </div>

        <!-- Bottoni -->
        <div class="item-button-container">
            <a th:href="'/admin/deleteComputerBuild/'+ ${notebook.id}" class="link">
                <div class="item-button delete-button">Elimina Computer Build</div>
            </a>
            <button type="submit" class="item-button">Salva modifiche</button>
        </div>

</form>

<script src="/script/script.js"></script>
</body>

</html>