<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="">
<head>
    <meta charset="UTF-8" />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Pc SIW Masters - Modifica Computer Build</title>
</head>

<body>

<!-- Header -->
<div th:insert="fragments/header.html :: header"> </div>

<!-- Content -->
<form th:action="@{'/admin/updateComputerBuild/'+ ${computerBuild.id}}" method="POST" th:object="${computerBuild}" class="add-item-container">
    <div class="add-item-container">

        <h2>Modifica Computer Build </h2>

        <!-- Global Error -->
        <div class="global-error-message" th:if="${#fields.hasGlobalErrors()}">
            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
        </div>

        <div class="add-item-infos">

            <!-- Name -->
            <p>Inserisci nome:</p>
            <input placeholder="Nome" th:field="${computerBuild.name}">
            <span class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

            <!-- ComputerCase -->
            <p>Seleziona il case per la tua configurazione:</p>
            <div class="checkbox-grid">
                <label th:each="computerCase : ${computerCaseList}" class="radiobutton-elem">
                    <input type="checkbox" th:value="${computerCase.id}"
                           th:checked="${computerCase.equals(computerCaseSelected)}"
                           th:text="${computerCase.name}" th:name="idComputerCase" />
                    <span class="radio-mark"></span>
                </label>
            </div>

            <!-- Accessory Selector -->
            <p>Seleziona gli accessori: </p>
            <div class="checkbox-grid">
                <label th:each="accessory : ${accessoryList}" class="checkbox-elem">
                    <input type="checkbox" th:value="${accessory.id}" th:text="${accessory.name}"
                           th:checked="${accessorySelected.contains(accessory)}"
                           th:name="idAccessory"/>
                    <span class="checkmark"></span>
                </label>
            </div>

            <!-- Hardware Selector -->
            <!-- CPU -->
            <p>Seleziona la CPU: </p>
            <div class="checkbox-grid">
                <label th:each="hardware : ${cpuList}" class="radiobutton-elem">
                    <input type="checkbox" th:value="${hardware.id}"
                           th:checked="${hardware.equals(cpuSelected)}"
                           th:text="${hardware.name}" th:name="idCpu" />
                    <span class="radio-mark"></span>
                </label>
            </div>

            <!-- GPU -->
            <p>Seleziona la GPU: </p>
            <div class="checkbox-grid">
                <label th:each="hardware : ${gpuList}" class="radiobutton-elem">
                    <input type="checkbox" th:value="${hardware.id}"
                           th:checked="${hardware.equals(gpuSelected)}"
                           th:text="${hardware.name}" th:name="idGpu" />
                    <span class="radio-mark"></span>
                </label>
            </div>

            <!-- MOTHERBOARD -->
            <p>Seleziona la scheda madre: </p>
            <div class="checkbox-grid">
                <label th:each="hardware : ${motherboardList}" class="radiobutton-elem">
                    <input type="checkbox" th:value="${hardware.id}"
                           th:checked="${hardware.equals(motherboardSelected)}"
                           th:text="${hardware.name}" th:name="idMotherboard" />
                    <span class="radio-mark"></span>
                </label>
            </div>

            <!-- RAM -->
            <p>Seleziona la RAM: </p>
            <div class="checkbox-grid">
                <label th:each="hardware : ${ramList}" class="radiobutton-elem">
                    <input type="checkbox" th:value="${hardware.id}"
                           th:checked="${hardware.equals(ramSelected)}"
                           th:text="${hardware.name}" th:name="idRam" />
                    <span class="radio-mark"></span>
                </label>
            </div>

            <!-- STORAGE -->
            <p>Seleziona la memoria secondaria: </p>
            <div class="checkbox-grid">
                <label th:each="hardware : ${storageList}" class="radiobutton-elem">
                    <input type="checkbox" th:value="${hardware.id}"
                           th:checked="${hardware.equals(storageSelected)}"
                           th:text="${hardware.name}" th:name="idStorage" />
                    <span class="radio-mark"></span>
                </label>
            </div>

            <!-- POWER SUPPLY -->
            <p>Seleziona l'alimentatore: </p>
            <div class="checkbox-grid">
                <label th:each="hardware : ${powerSupplyList}" class="radiobutton-elem">
                    <input type="checkbox" th:value="${hardware.id}"
                           th:checked="${hardware.equals(powerSupplySelected)}"
                           th:text="${hardware.name}" th:name="idPowerSupply" />
                    <span class="radio-mark"></span>
                </label>
            </div>

            <!-- Immagine
            <p>Seleziona un'immagine:</p>
            <input type="file" accept="image/*">-->

        </div>

        <!-- Bottoni -->
        <div class="item-button-container">
            <button type="submit" class="item-button">Salva modifiche</button>
            <a th:href="'/admin/deleteComputerBuild/'+ ${computerBuild.id}" class="link">
                <div class="item-button delete-button">Elimina Computer Build</div>
            </a>
        </div>
    </div>
</form>

<script src="/script/script.js"></script>
</body>

</html>