<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="">

<head>
    <meta charset="UTF-8" />
    <link href="/style.css" rel="stylesheet" />
    <title>Pc SIW Masters - Modifica Accessorio</title>
</head>

<body>

<!-- Header -->
<div th:insert="fragments/header.html :: header"> </div>

<!-- Content -->
<form th:action="@{'/admin/updateAccessory/'+ ${accessory.id}}" method="POST" th:object="${accessory}" class="add-item-container">
    <div class="add-item-container">

        <h2>Modifica Accessorio </h2>

        <!-- Global Error -->
        <div class="global-error-message" th:if="${#fields.hasGlobalErrors()}">
            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
        </div>

        <div class="add-item-infos">

            <!-- Category -->
            <p>Seleziona una categoria:</p>
            <select name="category">
                <option value="">Seleziona una categoria:</option>
                <option th:each="category : ${T(it.uniroma3.siw.model.category.AccessoryCategory).values()}"
                        th:value="${category}" th:text="${category.displayValue}"
                        th:selected="${category.equals(categorySelected)}">
                </option>
            </select>

            <!-- Name -->
            <p>Inserisci nome:</p>
            <input placeholder="Nome" th:field="${accessory.name}">
            <span class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

            <!-- Price -->
            <p>Inserisci prezzo:</p>
            <input placeholder="Prezzo" th:field="${accessory.price}">
            <span class="error-message" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>

            <!-- Vendor -->
            <p>Seleziona un produttore:</p>
            <select name="idVendor">
                <option value="0">Seleziona un produttore:</option>
                <option th:each="vendor : ${vendorList}" th:value="${vendor.id}"
                        th:text="${vendor.name} "
                        th:selected="${vendor.equals(vendorSelected)}">
                </option>
            </select>

            <!-- Immagine
            <p>Seleziona un'immagine:</p>
            <input type="file" accept="image/*">-->

        </div>

        <!-- Bottoni -->
        <div class="item-button-container">
            <a class="link" th:href="'/admin/deleteAccessory/'+ ${accessory.id}">
                <div class="item-button delete-button">Elimina Accessorio</div>
            </a>
            <button type="submit" class="item-button">Salva modifiche</button>
        </div>
    </div>
</form>

<script src="/script/script.js"></script>
</body>

</html>