.logo{
    margin-left: 2em;
    margin-top: 1em;
    width: 100px;
    max-width: 100%;
    vertical-align: top;
}

.mini-img{
    width: 30px;
    margin: .5em;
    padding: .2em;
    cursor: pointer;
    filter: invert(100%);
}

.mini-img-login{
    height: 50px;
    margin: .5em;
    padding: .2em;
    cursor: pointer;
    filter: invert(100%);
}

.vertical-header{
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.header-wrapper{
    display: flex;
    background-color: #1c1b1b	;
    justify-content: space-between;
}

.header-wrapper-admin{
    padding-inline: 2em;
    display: flex;
    background-color: #1c1b1b	;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-size: medium; //TODO check
}

.header-icons{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: flex-end;
}

.flex-item-center{
    display: flex;
    align-self: center;
    justify-content: center;
}

.margin-bot {
    margin-bottom: 5em;
}

.start{
    justify-content: flex-start;
}

.end{
    justify-content: flex-end;
}

.link{
    text-decoration: none;
    color: #1c1b1b;
}

.heading{
    font-size: 24px;
    letter-spacing: .2em;
    /*font-family: Montserrat,sans-serif;*/
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    color: white;
}


.white{
    color: white;
}

#sidebar{
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    padding-top: 1em;
    transition: all 0.4s ease-in-out;
    background-color: #373737;
    /*element priority*/
    z-index: 2;
    /* hiding element inside side-bar-menu*/
    overflow: hidden;
}

.sidebar-item{
    padding: 1.2em .6em 1.2em 1em;
    display: block;
    text-align: left;
    font-size: large; //TODO check
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.sidebar-item:hover{
    background-color: rgb(212,212,212);
    color: black;
}

.sidebar-item div{
    padding: 0 .5em;
}

.header-bar-item{
    padding: 1em 0 0.6em 0.6em;
    display: block;
    text-align: left;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.header-bar-item:hover{
    background-color: rgb(212,212,212);
    color: black;
}

.sidebar-names{
    display: flex;
    flex-wrap: wrap;
    padding: .3em 2em;
    justify-items: center;
    position: fixed;
    bottom: 0;
}
.sidebar-names p{
    margin-right: 1em;
}

#overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /*invisible*/
    display: none;
    /*element priority*/
    z-index: 1;
    /*Shadows*/
    background-color: rgba(0,0,0,0.4);
}

/* Item generico */

.item-container{
    margin-top: 6em;
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.item-left-column {
    width: 65%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.item-right-column {
    width: 35%;
    margin-right: 2em;
    text-align: left;
}

.img-all-item{
    height: 300px;
    margin: 0.5em;
}

.item-product-description span {
    font-size: 18px;
    color: orange;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline;
    line-height: 150%;
}

.item-product-description h4 {
    font-size: 20px;
    line-height: 18px;
    font-weight: normal;
    letter-spacing: 1px;
    text-decoration: none;
}

.item-product-description h1 {
    font-weight: bold;
    font-size: 54px;
    color: white;
    letter-spacing: -2px;
}

.item-product-description p {
    font-size: 22px;
    font-weight: 300;
    color: #86939E;
    display: inline;
    line-height: 200%;
}

.item-button-container{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.item-button{
    width: fit-content;
    margin-block: 4em;
    padding: 2rem 5rem;
    font-weight: 700;
    cursor: pointer;
    background-color: lightblue;
    border: 1px solid gray;
    font-size: 1rem;
    border-radius: 1.375rem;
    margin-inline: 1em;
}

.item-button:hover{
    background-color: #1c1b1b;
    color: white;
}

.delete-button{
    background-color: red;
    color: white;
}

.delete-button:hover{
    background-color: darkred;
    color: black;
}

/* Fine item generico */

/* Add Item */
.add-item-container{
    margin-top: 0;
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

.add-item-container p{
    font-size: x-large;
}

.add-item-infos input{
    display: block;
    padding: 0.594rem ;
    font-size: medium;
    border: 2px solid #ddd;
    border-radius: .375rem;
    margin-top: -0.5em;
}

.add-item-container select{
    display: block;
    padding: 0.594rem ;
    font-size: .875rem;
    border: 2px solid #ddd;
    border-radius: .375rem;

    margin-top: -0.5em;
}

.checkbox-container{
    width: 100%;
    padding-block:1em;
    /* padding-inline:2em; */
    display: grid;
    margin-inline: auto;
    grid-template-columns: repeat(2, 55%);
    grid-auto-rows: 1fr;
    /* justify-content: center; */
}

/* Customize the label (the container) */
.checkbox-elem {
    width: 100%;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    margin-inline: 1em;
}

/* Hide the browser's default checkbox */
.checkbox-elem input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left:0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-elem:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-elem input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-elem input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-elem .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/*RadioButton*/

/* Customize the label (the container) */
.radiobutton-elem {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radiobutton-elem input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.radio-mark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radiobutton-elem:hover input ~ .radio-mark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radiobutton-elem input:checked ~ .radio-mark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-mark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiobutton-elem input:checked ~ .radio-mark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radiobutton-elem .radio-mark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

/* Fine add Item*/

.all-products-button{
    margin-top: 16px;
    align-self: center;
    padding: 14px 28px;
    line-height: normal;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: white;
    font-style: normal;
    background-color: #1c1b1b;
}

.all-items-container{
    margin-top: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-items-title{
    text-align: center;
    margin-bottom: 1.5em;
    color: white;
}

/* --------------------------------------- */
html {
    height: 100%;
    margin:0;
    padding:0;
    color:white;
    background-color: black;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.rei_flex-container
{
    flex-direction: row;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.card-item-index
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
    margin: 10px;
    background: #580cda;
    align-items: flex-end;
    border-radius: 10px;
    align-self: stretch;
}

.card-item-index:hover{
    -webkit-filter: brightness(70%);
}

.card-item-image{
    overflow: hidden;
}

.category-container-index
{
    margin-inline: 2em;
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: repeat(2,minmax(30%,50%));
    grid-auto-rows: 1fr;
    align-items: center;
    justify-content: center;
}

.card-category-index
{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 10px;
    background: #580cda;
    border-radius: 10px;
    flex: auto;
    align-self: stretch;

    min-height: 300px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding:10px;
    position: relative;
    overflow: hidden;

    font-family: Arial, Helvetica, sans-serif;
}

.card-category-index:hover
{
    -webkit-filter: brightness(70%);
}

.card-category-index h2{
    font-size: 2em;
    margin-left: 1em;
}

.card-category-image{
    width: 50%;
    height: 50%;
}

.scrolling-container {
    margin-top: 1em;
    align-items: stretch;
    height: 100%;
    display: table;
    vertical-align: middle;
}

.scrolling-element {
    width: 700px;
    height: 700px;
    display: table-cell;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    border: 3px solid black;
    overflow: visible;
    animation-name: animazione_scorrimento;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes animazione_scorrimento {
    0%
    {
        margin-right: -50%;
        opacity: 0;
        background-image: url("/images/1.png");
    }
    12%
    {
        background-image: url("/images/1.png");
        margin-right: 0;
        opacity: 1;
    }

    20%
    {
        background-image: url("/images/1.png");
        margin-right: 0;
        opacity: 1;
    }
    29%
    {
        background-image: url("/images/1.png");
        margin-right: 50%;
        opacity: 0;
    }
    30%
    {
        margin-right: -50%;
        opacity: 0;
        background-image: url("/images/2.png");
    }
    40%
    {   margin-right: 0;
        opacity: 1;
        background-image: url("/images/2.png");
    }
    53%
    {
        margin-right: 0;
        background-image: url("/images/2.png");
        opacity:1;
    }
    65%
    {
        background-image: url("/images/2.png");
        margin-right: 50%;
        opacity: 0;
    }
    66%
    {
        margin-right: -50%;
        opacity: 0;
        background-image: url("/images/3.png");
    }
    78%
    {
        opacity:1;
        margin-right:0;
    }
    85%
    {
        opacity:1;
        margin-right:0;
    }
    100%
    {
        background-image: url("/images/3.png");
        margin-right: 50%;
        opacity:0;
    }
}

/* All Products Page*/
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-inline: 3em;
}

.item-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-block:4em ;
    margin-inline:2em ;
}

.item-card:hover {
    background-color: lightgray;
    color: #1c1b1b;
    font-weight: bold;
}

.link-products {
    color: inherit;
    text-decoration: none;
}

.item-img img{
    width: 100%;
    display: block;
}

.item-details{
    text-align: center;
    text-transform: capitalize;
    font-size: large;
}

.item-details p {
    font-size: x-large;
    color: darkorange;
}

.item-card:hover p {
    color: #580cda;
}

.input-container {
    min-width: 430px;
}

.select-dimension {
    width: 100%;
}