<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> --- </title>
</head>
<body>


<!-- Category -->
<div th:fragment = "category(path)">
    <p>Seleziona una categoria:</p>
    <div class="input-container">
    <select name="category" class="select-dimension">
        <option value="">Seleziona una categoria:</option>
        <option th:each="category : ${__${path}__.values()}"
                th:value="${category}" th:text="${category.displayValue}"
                th:selected="${category.equals(categorySelected)}">
        </option>
    </select>
        </div>
</div>


<!-- Name -->
<div th:fragment = "name-input(objType)">
    <p>Inserisci nome:</p>
    <label th:for="${objType + '.name'}"></label>
    <input class="input-container" placeholder="Nome" type="text" th:field="*{__${objType}__.name}">
</div>


<!-- Price -->
<div th:fragment = "price-input(objType)">
    <p>Inserisci prezzo:</p>
    <input class="input-container" placeholder="Prezzo" th:field="*{__${objType}__.price}" >
</div>


<!-- Vendor -->
<div th:fragment = "vendor-select">
    <p>Seleziona un produttore:</p>
    <div class="input-container">
    <select name="idVendor" class="select-dimension">
        <option value="0">Seleziona un produttore:</option>
        <option th:each="vendor : ${vendorList}" th:value="${vendor.id}"
                th:text="${vendor.name} "
                th:selected="${vendor.equals(vendorSelected)}">
        </option>
    </select>
    </div>
</div>


<!-- Hardware Selector -->
<div th:fragment = "hardware-radio-button(hardwareList, id, hardwareSelected)">
    <div class="checkbox-container">
        <label th:each="hardware : ${hardwareList}" class="radiobutton-elem">
            <input type="radio" th:value="${hardware.id}"
                   th:checked="${hardware.equals(hardwareSelected)}"
                   th:text="${hardware.name}" th:name="${id}" />
            <span class="radio-mark"></span>
        </label>
    </div>
</div>

<!-- Accessory Selector -->
<div th:fragment = "accessory-checkbox">
    <div class="checkbox-container">
        <label th:each="accessory : ${accessoryList}" class="checkbox-elem">
            <input type="checkbox" th:value="${accessory.id}" th:text="${accessory.name}"
                   th:checked="${accessorySelected.contains(accessory)}"
                   th:name="idAccessory"/>
            <span class="checkmark"></span>
        </label>
    </div>
</div>

</body>
</html>