<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
      lang="">

<head>
    <meta charset="UTF-8" />
    <link th:href="@{/style.css}" rel="stylesheet" />
    <title>Pc SIW Masters</title>
</head>

<body>

<!-- Header Menu -->
<div class="vertical-header" th:fragment="header">

    <div id="overlay"></div>

    <!-- First Header-->

    <!-- SideBar -->
    <div id="sidebar">
        <div id="sidebar-content" >
            <a th:href="@{/index}" class="heading link  ">
                <div class="sidebar-item">
                    <div>
                        home
                    </div>
                </div>
            </a>
            <a th:href="${'/show/pageAllItems'}" class="heading link">
                <div class="sidebar-item">
                    <div>
                        all products
                    </div>
                </div>
            </a>
            <a th:href="${'/show/pageAllComputerBuild'}" class="heading link">
                <div class="sidebar-item">
                    <div>
                        builds
                    </div>
                </div>
            </a>
            <a th:href="${'/show/pageAllNotebook'}" class="heading link">
                <div class="sidebar-item">
                    <div>
                        notebooks
                    </div>
                </div>
            </a>
            <a th:href="${'/show/pageAllHardware'}" class="heading link">
                <div class="sidebar-item">
                    <div>
                        hardware
                    </div>
                </div>
            </a>
            <a th:href="${'/show/pageAllAccessory'}" class="heading link">
                <div class="sidebar-item">
                    <div>
                        accessories
                    </div>
                </div>
            </a>
            <a th:href="${'/show/pageAllComputerCase'}" class="heading link">
                <div class="sidebar-item">
                    <div>
                        computer case
                    </div>
                </div>
            </a>
            <a th:href="${'/show/pageAllVendor'}" class="heading link">
                <div class="sidebar-item">
                    <div>
                        produttori
                    </div>
                </div>
            </a>
            <a sec:authorize="isAuthenticated()" class="heading link">
                <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST" class="heading link">
                    <button type="submit" class="sidebar-item-logout"><div>Logout</div></button>
                </form>
            </a>
        </div>
        <div class="sidebar-names">
            <p class="white">@LeandroPlacidi</p>
            <p class="white">@ReinerRomeo</p>
            <p class="white">@RiccardoScudieri</p>
        </div>
    </div>


    <!-- Header -->
    <div class="header-wrapper">
        <!-- Logo -->
        <div class="flex-item-center start">
            <a th:href="@{/}">
                <img class="logo" src="/images/logowhiteorange.png" alt="Logo PC SIW Masters">
            </a>
        </div>
        <!-- Icons -->
        <div class="header-icons" >
            <div sec:authorize="!isAuthenticated()">
                <a th:href="@{/loginPage}">
                    <img class="mini-img-login" src="/images/account.png" alt="Login pic">
                </a>
            </div>
            <!--<img class="mini-img" src="/images/search.png">-->

            <img id="side-bar-menu" class="mini-img" src="/images/menu.png" alt="Menu pic">
        </div>
    </div>

    <!-- Second Header Admin -->
    <div class="header-wrapper-admin" sec:authorize-url="/admin">
        <a th:href="@{/admin/addHardware}" class="heading link">
            <div class="header-bar-item">
                <div>
                    add hardware
                </div>
            </div>
        </a>
        <a th:href="@{/admin/addNotebook}" class="heading link">
            <div class="header-bar-item">
                <div>
                    add notebook
                </div>
            </div>
        </a>
        <a th:href="@{/admin/addVendor}" class="heading link">
            <div class="header-bar-item">
                <div>
                    add produttore
                </div>
            </div>
        </a>
        <a th:href="@{/admin/addAccessory}" class="heading link">
            <div class="header-bar-item">
                <div>
                    add accessorio
                </div>
            </div>
        </a>
        <a th:href="@{/admin/addComputerCase}" class="heading link">
            <div class="header-bar-item">
                <div>
                    add computer case
                </div>
            </div>
        </a>
        <a th:href="@{/admin/addComputerBuild}" class="heading link">
            <div class="header-bar-item">
                <div>
                    add computer build
                </div>
            </div>
        </a>
    </div>
    <script src="/script/script.js"></script>
</div>

</body>
</html>
