<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link href="/style.css" rel="stylesheet">
    <title> PC SIW Masters - Your Cart</title>
</head>

<body>

    <!-- Header Menu -->
    <div th:insert="fragments/headerfooter.html :: header"> </div>
    
    <!-- Cart -->
    <main id="main">
        <header class="heading flexitem-center"> Your cart </header>
        <div class="pagecontent flexitem-center">
            <!--Cart Items-->
            <div class="cart-itemlist">
                <div class="flexitem-horiz">
                    <div class="cart-item">
                        <!--Image-->
                        <div class="imagewrapper">
                            <img class="cart-imageitem" src="/images/ramimg.png">
                        </div>
                        <!--Infos-->
                        <div class="flexitem-column">
                            <div class="cart-itemnospace">
                                <p class="heading title"> Ram Corsair 16gb RGB</p>
                            </div>
                            <div class="cart-itemspace ">
                                <p class="heading xsmalltext gray"> Single slot</p>
                            </div>
                            <div class="cart-itemspace ">
                                <p class="heading xsmalltext gray">Quantity:1</p>
                            </div>
                        </div>
                    </div>
                    <div id="cart-itemquantity">
                        <div class="cart-itemspace ">
                            <p class="heading xsmalltext gray">price eur</p>
                        </div>
                        <div class="cart-itemnospace">
                            <p class="heading title">€20.00</p>
                        </div>
                        <div class="flexitem-horiz">
                            <button id="removebutton" class="quantitybutton">
                                <p class="heading xsmalltext">-</p>
                            </button>
                            <p class="heading xsmalltext">1</p>
                            <div id="addbutton" class="quantitybutton">
                                <p class="heading xsmalltext">+</p>
                            </div>
                        </div>
                        <div class="cart-itemspace">
                            <p class="heading xsmalltext gray">Remove</p>
                        </div>
                    </div>
                </div>
                <hr class="cart-hr">
            </div>

            <!--Payment-->
            <div class="flexitem-horiz">
                <div class="cart-footernote">
                    <p class="heading smalltext">
                        Add order note
                    </p>
                    <textarea id="cart-textarea" rows="4" placeholder="Add here something we need to know"></textarea>
                </div>
                <div class="cart-footertotal">
                    <p id="cart-total">TOTAL: €20.00</b>
                    <p>Shipping & taxes calculated at checkout</p>
                    <div class="cart-buttonwrapper">
                        <button class="checkoutbutton">Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <div th:insert="fragments/headerfooter.html :: footer"> </div>

</body>

</html>