<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <link href="/style.css" rel="stylesheet">
    <title>Pc SIW Masters</title>
</head>

<body>
    
    <!-- Header Menu -->
    <div id="section-header">
        <div id="overlay"></div>
        <header>
            <div id="sidebar">
                <div id="sidebar-content" >
                    <div class="sidebar-item">
                        <a href="/index.html" class="heading link  ">
                            <div>
                                home
                            </div>
                        </a>
                    </div>
                    <div class="sidebar-item">
                        <a href="/allproducts.html" class="heading link">
                            <div>
                                all products
                            </div>
                        </a>
                    </div>
                    <div class="sidebar-item">
                        <a href="/" class="heading link">
                            <div>
                                builds
                            </div>
                        </a>
                    </div>
                    <div class="sidebar-item">
                        <a href="/" class="heading link">
                            <div>
                                notebooks
                            </div>
                        </a>
                    </div>
                    <div class="sidebar-item">
                        <a href="/" class="heading link">
                            <div>
                                accessories
                            </div>
                        </a>
                    </div>
                </div>
                <div class="sidebar-names">
                    <p>@LeandroPlacidi</p>
                    <p>@ReinerRomeo</p>
                    <p>@RiccardoScudieri</p>
                </div>
            </div>
            <div class="headerwrapper">
                <div class="flexitem-center start">
                    <a href="/index.html">
                        <img class="logo" src="logoarancio.png">
                    </a>
                </div>
                <div class="flexitem-center end">
                    <img class="mini-img" src="account.png">
                    <img class="mini-img" src="search.png">
                    <a href="/cart.html">
                        <img class="mini-img" src="cart.png">
                    </a>
                    <img id="sbmenu" class="mini-img" src="menu.png">
                </div>
            </div>
        </header>
    </div>

    <!-- Footer -->
    <div class="main-footer">
        <div class="footerwrapper">
            <div>
                <img class="logo" src="logoarancio.png">
            </div>
            <div>
                <h2>SIW PROJECT</h2>
                <p>Year 2021/22</p>
            </div>
            <div>
                <h2>STUDENTS</h2>
                <p>Leandro Placidi</p>
                <p>Reiner Romeo</p>
                <p>Riccardo Scudieri</p>
            </div>

            <div>
                <h2>INFO</h2>
                <!-- Credits -->
            </div>
        </div>
        <div class="copyright-footer"><i>©PC SIW Masters</i></div>
    </div>
    <script src="/script.js"></script>
</body>

</html>