<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="">

<head>
    <meta charset="UTF-8" />
    <link href="/style.css" rel="stylesheet" />
    <title>Pc SIW Masters</title>
</head>

<body>

<!-- Header -->
<div th:insert="fragments/header.html :: header"> </div>

<!-- Content -->
<div class="build-container">

    <!-- First Row -->
    <div class="build-row build-name">

        <img class="item-img" th:src="${computerBuild.picture}" alt="Immagine della build " />

        <div class="item-product-description">

            <!-- Name -->
            <h1 th:text="${computerBuild.name}"></h1>

            <div>
                <!-- Price -->
                <div th:insert="fragments/pageItem.html :: property(Prezzo, ${computerBuild.price} + ' €')"> </div>

                <!-- Computer Case -->
                <div th:insert="fragments/pageItem.html :: property(Case, ${computerBuild.computerCase.name} )"> </div>
            </div>

        </div>

    </div>

    <!-- Second Row -->
    <div class="build-row">

        <!-- ComputerBuild Description -->
        <div class="build-product-description">

            <!-- Hardware List -->
            <h2>L'hardware che lo compone:</h2>
            <div class="build-row">
                <div class="container">
                    <div class = "build-details item-card" th:each="hardware : ${computerBuild.hardwareList}">
                        <a th:href="@{'/show/pageHardware/' + ${hardware.id}}">

                            <img class = "img-all-item" th:src = "${hardware.picture}" alt = "Immagine accessorio">

                            <div class = "build-details">
                                <p th:text="${hardware.name}"></p>
                            </div>
                        </a>

                    </div>
                </div>

            </div>

            <!-- Accessory List -->
            <h2>I suoi accessori:</h2>
            <div th:if="${computerBuild.accessoryList!= null}">
                <div class="container">
                    <div class = "build-details item-card" th:each="accessory : ${computerBuild.accessoryList}">
                        <a th:href="@{'/show/pageAccessory/' + ${accessory.id}}">

                            <img class = "img-all-item" th:src = "${accessory.picture}" alt = "Immagine accessorio">

                            <div class = "build-details">
                                <p th:text="${accessory.name}"></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Bottone Modifica -->
            <a th:href="@{'/admin/editComputerBuild/'+ ${computerBuild.id}}">
                <button class="item-button">Modifica Computer Build</button>
            </a>

        </div>

    </div>
</div>