<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="">

<head>
    <meta charset="UTF-8" />
    <link href="/style.css" rel="stylesheet" />
    <title>Pc SIW Masters</title>
</head>

<body>

<!-- Header -->
<div th:insert="fragments/header.html :: header"> </div>

<!-- Content -->
<div class="item-container">

    <!-- Left Column -->
    <div class="item-left-column">
        <img class="item-img" th:src="${hardware.picture}" />
    </div>

    <!-- Right Column -->
    <div class="item-right-column">

        <!-- Hardware Description -->
        <div class="item-product-description">

            <!-- Name -->
            <h1 th:text="${hardware.name}"></h1>

            <!-- Category -->
            <div th:insert="fragments/pageItem.html :: property(Categoria, ${hardware.category.displayValue} )"> </div>

            <!-- Vendor -->
            <div th:insert="fragments/pageItem.html :: property(Venditore, ${hardware.vendor.name} )"> </div>

            <!-- Price -->
            <div th:insert="fragments/pageItem.html :: property(Prezzo, ${hardware.price}+' €' )"> </div>

        </div>

        <a th:href="@{'/admin/editHardware' +'/'+ ${hardware.id}}">
            <button class="item-button">Modifica Hardware</button>
        </a>
    </div>
</div>