<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
 lang="">

<head>
    <meta charset="UTF-8" />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Pc SIW Masters</title>
</head>

<body>

<!-- Header -->
<div th:insert="fragments/header.html :: header"> </div>

<!-- Content -->
<div class="item-container">

    <!-- Left Column -->
    <div class="item-left-column">
        <img class="item-img" src="/images/cuffie.png" />
    </div>

    <!-- Right Column -->
    <div class="item-right-column">

        <!-- Notebook Description -->
        <div class="item-product-description">

            <!-- Name -->
            <h1 th:text="${computerCase.name}"></h1>

            <!-- Vendor -->
            <p th:text="${computerCase.vendor.name}"></p>

            <!-- Price -->
            <p th:text="${computerCase.price}"></p>

        </div>


        <a th:href="@{'/admin/editComputerCase' +'/'+ ${computerCase.id}}">
            <button class="item-button">Modifica Computer Case</button>
        </a>

    </div>
</div>