<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="">

<head>
    <meta charset="UTF-8" />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Pc SIW Masters</title>
</head>

<body>

<!-- Header -->
<div th:insert="fragments/header.html :: header"> </div>

<!-- Content -->
<div class="item-container">

    <!-- Left Column -->
    <div class="item-left-column">
        <img class="item-img" src="/images/cuffie.png" />
    </div>

    <!-- Right Column -->
    <div class="item-right-column">

        <!-- ComputerBuild Description -->
        <div class="item-product-description">

            <!-- Name -->
            <h1 th:text="${computerBuild.name}"></h1>

            <!-- Price -->
            <p th:text="${computerBuild.price}"></p>

            <!-- Computer Case -->
            <p th:text="${computerBuild.computerCase.name}"></p>

            <!-- Accessory List -->
            <h4>Controlla i nostri accessori:</h4>
            <ul>
                <li th:each="accessory : ${computerBuild.accessoryList}">
                    <a th:href="@{'/show/pageAccessory/' + ${accessory.id}}"
                       th:text="${accessory.name}" class="link"></a>
                </li>
            </ul>

            <!-- Hardware List -->
            <h4>Controlla l'hardware che lo compone:</h4>
            <ul>
                <li th:each="hardware : ${computerBuild.hardwareList}">
                    <a th:href="@{'/show/pageHardware/' + ${hardware.id}}"
                       th:text="${hardware.name}" class="link"></a>
                </li>
            </ul>

        </div>

        <!-- Bottone Modifica -->
        <a th:href="@{'/admin/editComputerBuild/'+ ${computerBuild.id}}">
            <button class="item-button">Modifica Computer Build</button>
        </a>
    </div>
</div>