<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="">

<head>
    <meta charset="UTF-8" />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Catering SIW</title>
</head>

<body>
<!-- Header -->
<div th:insert="fragments/header.html :: header"> </div>

<!-- Content -->
<div class="item-container">

    <!-- Left Column -->
    <div class="item-left-column">
        <img class="item-img" src="/images/cuffie.png" />
    </div>

    <!-- Right Column -->
    <div class="item-right-column">

        <!-- Item Description -->
        <div class="item-product-description">

            <!-- Name -->
            <h1 th:text="${accessory.name}"></h1>

            <!-- Category -->
            <p th:text="${accessory.category.displayValue}"></p>

            <!-- Vendor -->
            <p th:text="${accessory.vendor.name}"></p>

            <!-- Price -->
            <p th:text="${accessory.price}"></p>
        </div>

        <!-- Bottone Modifica
        <a th:href="@{'/admin/editPiatto' +'/'+ ${piatto.id}}">-->
        <a>
            <button class="item-button">Modifica Accessorio</button>
        </a>
    </div>
</div>