<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="">

<head>
    <meta charset="UTF-8" />
    <link href="/style.css" rel="stylesheet" />
    <title>Pc SIW Masters</title>
</head>

<body>

<!-- Header -->
<div th:insert="fragments/header.html :: header"> </div>

<!-- Content -->
<div class="item-container">

    <!-- Left Column -->
    <div class="item-left-column">
        <img class="item-img" src="/images/cuffie.png" alt="Immagine della build " />
    </div>

    <!-- Right Column -->
    <div class="item-right-column">

        <!-- ComputerBuild Description -->
        <div class="item-product-description">

            <!-- Name -->
            <h1 th:text="${computerBuild.name}"></h1>

            <!-- Price -->
            <div th:insert="fragments/pageItem.html :: property(Prezzo, ${computerBuild.price} )"> </div>

            <!-- Computer Case -->
            <div th:insert="fragments/pageItem.html :: property(Case, ${computerBuild.computerCase.name} )"> </div>

            <!-- Accessory List -->
            <div th:if="${computerBuild.accessoryList!= null}">
                <h4>I suoi accessori:</h4>
                <div class="container">
                    <div th:each="accessory : ${computerBuild.accessoryList}">
                        <a th:href="@{'/show/pageAccessory/' + ${accessory.id}}">

                            <img class = "img-all-item" src = "/images/CPUi3.png" alt = "Immagine accessorio">

                            <div class = "item-details">
                                <p th:text="${accessory.name}"></p>
                            </div>
                        </a>

                    </div>
                </div>

            </div>

            <!-- Hardware List -->
            <h4>Controlla l'hardware che lo compone:</h4>
            <div class="container">
                <div th:each="hardware : ${computerBuild.hardwareList}">
                    <a th:href="@{'/show/pageHardware/' + ${hardware.id}}">

                        <img class = "img-all-item" src = "/images/CPUi3.png" alt = "Immagine accessorio">

                        <div class = "item-details">
                            <p th:text="${hardware.name}"></p>
                        </div>
                    </a>

                </div>
            </div>

        </div>

        <!-- Bottone Modifica -->
        <a th:href="@{'/admin/editComputerBuild/'+ ${computerBuild.id}}">
            <button class="item-button">Modifica Computer Build</button>
        </a>
    </div>
</div>