<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC SIW Masters</title>
    <!-- CSS -->
    <link href = "/style.css" rel = "stylesheet">
</head>
<body>
<!-- Header Menu -->
<div th:insert="fragments/header.html :: header"> </div>

<!-- All Products Content-->
<div class = "all-items-container">

    <div class = "all-items-title">
        <h1 th:if="(${allAccessoryList!=null}) and
                   (${allComputerCaseList!=null}) and
                   (${allHardwareList!=null})">Tutti i nostri prodotti</h1>

        <h1 th:if="${accessoryList!=null}">Tutti i nostri accessori</h1>
        <h1 th:if="${computerCaseList!=null}">Tutti i nostri computer case</h1>
        <h1 th:if="${computerBuildList!=null}">Tutte le nostre computer build</h1>
        <h1 th:if="${hardwareList!=null}">Tutte le nostre componenti hardware</h1>
        <h1 th:if="${notebookList!=null}">Tutti i nostri notebook</h1>
        <h1 th:if="${vendorList!=null}">Tutti i nostri produttori</h1>
    </div>

    <!-- Vendor -->
    <div th:if="vendorList!=null" class="container">
        <div th:insert="fragments/pageItem.html :: allVendorList(${vendorList}, Vendor)"> </div>
    </div>

    <!-- Accessory -->
    <div th:if="accessoryList!=null" class="container">
        <div th:insert="fragments/pageItem.html :: allItemList(${accessoryList}, Accessory, category, vendor)"> </div>
    </div>

    <!-- Hardware -->
    <div th:if="hardwareList!=null" class="container">
        <div th:insert="fragments/pageItem.html :: allItemList(${hardwareList}, Hardware, category, vendor)"> </div>
    </div>

    <!-- Computer Case -->
    <div th:if="computerCaseList!=null" class="container">
        <div th:insert="fragments/pageItem.html :: allItemList(${computerCaseList}, ComputerCase, ~{}, vendor)"> </div>
    </div>

    <!-- Notebook -->
    <div th:if="notebookList!=null" class="container">
        <div th:insert="fragments/pageItem.html :: allItemList(${notebookList}, Notebook, ~{}, vendor)"> </div>
    </div>

    <!-- Computer Build -->
    <div th:if="computerBuildList!=null" class="container">
        <div th:insert="fragments/pageItem.html :: allItemList(${computerBuildList}, ComputerBuild, ~{}, ~{})"> </div>
    </div>

    <!-- Vendor Item -->
    <div th:if="vendorHardwareList!=null" class="container">
        <div th:insert="fragments/pageItem.html :: allItemList(${vendorHardwareList}, Hardware, category, ~{})"> </div>
    </div>
    <div th:if="vendorAccessoryList!=null" class="container">
        <div th:insert="fragments/pageItem.html :: allItemList(${vendorAccessoryList}, Accessory, category, ~{})"> </div>
    </div>
    <div th:if="vendorComputerCaseList!=null" class="container">
        <div th:insert="fragments/pageItem.html :: allItemList(${vendorComputerCaseList}, ComputerCase, ~{}, ~{})"> </div>
    </div>

    <!-- All Items-->
    <div th:if="allHardwareList!=null" class="container">
        <div th:insert="fragments/pageItem.html :: allItemList(${allHardwareList}, Hardware, category, vendor)"> </div>
    </div>
    <div th:if="allAccessoryList!=null" class="container">
        <div th:insert="fragments/pageItem.html :: allItemList(${allAccessoryList}, Accessory, category,vendor)"> </div>
    </div>
    <div th:if="allComputerCaseList!=null" class="container">
        <div th:insert="fragments/pageItem.html :: allItemList(${allComputerCaseList}, ComputerCase,~{},vendor)"> </div>
    </div>

</div>

</body>
</html>