<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>PC SIW Masters - ProductPage</title>
        <link href="/style.css" rel="stylesheet" />
    </head>

    <body>
        <!-- Header Menu -->
        <div th:insert="fragments/headerfooter.html :: header"></div>

        <main class="pp-container">
            <!-- Left Column -->
            <div class="pp-left-column">
                <img src="/images/CPUi3.png" alt="" />
            </div>

            <!-- Right Column -->
            <div class="pp-right-column">
                <!-- Product Description -->
                <div class="pp-product-description">
                    <span>Processori</span>
                    <h1>Intel Core i3</h1>
                    <p>
                        CPU INTEL CORE I3-10105 LGA 1200 - 10th.GEN CPU Intel® Core i3-10105 processore 3,7 GHz 6 MB Cache intelligente (Intel® Core™ i3, LGA 1200 (Socket H5), 14 nm, Intel, i3-10105, 3,7 GHz) Processore nuovo in box con
                        dissipatore incluso. Versione con grafica INTEGRATA.
                    </p>
                </div>

                <!-- Product Pricing -->
                <div class="pp-product-price">
                    <span>148€</span>
                    <a href="@{/cart}" class="pp-cart-btn">Aggiungi al carrello</a>
                </div>
            </div>
        </main>

        <!-- Footer -->
        <div th:insert="fragments/headerfooter.html :: footer"></div>
    </body>
</html>
